.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: yellow;
}

.App-header {

}

.header {
  font-size: calc(10px + 5vmin);
  color: yellow;
}

.StarWarsLogo {
  margin-top: 2vh;
  max-width: 500px;
}
