
.App {
  text-align: center;
  background: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: yellow;
}

.App-header {
  position: fixed;
  top: 0;
  background: black;

}

h1 {
  font-size: calc(10px + 4vmin);
  color: yellow;
  margin-top:230px;
  margin-bottom: 17px;
}

.StarWarsLogo {
  margin-top: 2vh;
  max-width: 400px;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-left:0;
}

.Character {
  color:rgba(240, 255, 0, 0.5);
  margin-bottom: 8px;
  transition: ease-in-out 0.2s;
}

.Character:hover {
  color:rgba(240, 255, 0, 1);
  font-size: 18px;
  cursor: pointer;
}

.Details {
  color:grey;
  font-size: 14px;
  line-height: 1.5em;
}

input {
  background-color: rgba(46, 49, 49, 0.3);
  border: 1px solid yellow;
  border-radius: 5px;
  height: 28px;
  outline: 0;
  padding-left: 45px;
  margin-bottom: 17px;
  transition: ease-in-out 0.2s;
}

input:focus, input:hover {
  background-color: white;
}
